.subtext {
    font-size: 14px
}

.bottom-border {
    border-bottom: 1px solid #dee2e6 ;
}

.text-decoration-underline {
    text-decoration: underline;
}

.material-link {
    width: fit-content;
}

.tag-header {
    position: sticky;
    top: -1;
    background: white;
    z-index: 2;
}

@media (max-width: 991.98px) and (orientation: portrait) {

    #lessons {
        display: none;
    }

    #mobile-lessons {
        display: block;
    }

    #activities {
        display: none;
    }

    #mobile-activities {
        display: block;
    }

    #attendance {
        display: none;
        }
        
      #mobile-attendance {
        display: block;
      }
}

@media only screen and (max-width: 600px) {

    #lessons {
        display: none;
    }

    #mobile-lessons {
        display: block;
    }

    #activities {
        display: none;
    }

    #mobile-activities {
        display: block;
    }

    #attendance {
        display: none;
        }
        
      #mobile-attendance {
        display: block;
      }
}

/* @media only screen and (min-width: 768px) {

    #lessons {
        display: none;
    }

    #mobile-lessons {
        display: block;
    }
} */
